<section id="fuerauftraggeber" class="home-section bg-gray">
  

        <h2 class="section-title text-center">
          <span><i class="fa fa-handshake-o"></i> Für Auftraggeber</span>
        </h2>
<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="info-box lead text-center">
          <p>Damit ein Dolmetscheinsatz reibungslos verläuft, braucht es mehr als nur eine erfahrene Dolmetscherin. Auch Auftraggeber tragen wesentlich zum Erfolg bei – und das beginnt lange vor dem eigentlichen Termin.</p>
        </div>

        <p> <p>Bitte stellen Sie nach Möglichkeit folgende Unterlagen zur Verfügung:</p>
 </p>
        <ul class="custom-list">
          <li>Redemanuskripte (auch in Entwurfsform)</li>
          <li>Präsentationen und Videos</li>
          <li>Ablaufpläne</li>
          <li>Teilnehmerlisten</li>
          <li>interne Terminologie</li>
        </ul>

        <p>Diese Informationen ermöglichen mir eine gezielte Vorbereitung – auch bei komplexen Fachthemen. So kann ich nicht nur korrekt, sondern auch stilsicher und effizient dolmetschen.</p> 
      </div>
    </div>
  </div>
</section>
