{{ define "main"}}
  <main id="main">

    <div class="container">
  
      {{ if .Site.Params.showSubheader }}
        {{ partial "home/subheader.html" . }}
      {{ end }}

{{ if .Site.Params.showLanguages }}
  {{ $languagesPage := site.GetPage "page" "sprachen" }}
  {{ $voicesPage := site.GetPage "section" "home/sprachen" }}
  {{ with $languagesPage }}
<section id="languages" class="home-section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-left">
        <h2 class="section-title">
          <span>Sprachen</span>
        </h2>
        <div class="maincontent">{{ .Content }}</div>
        {{ with $voicesPage }}
          <div class="maincontent">{{ .Content }}</div>
          {{ with .Params.buttons }}
          <div class="text-center section-buttons">
            {{ range . }}
              {{ $isDisabled := .disabled | default false }}
              {{ if $isDisabled }}
                <button class="btn btn-action btn-lg" type="button" disabled aria-disabled="true">{{ .label }}</button>
              {{ else }}
                <a class="btn btn-action btn-lg" href="{{ .url }}">{{ .label }}</a>
              {{ end }}
            {{ end }}
          </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
  {{ end }}
{{ end }}
      
        {{ range .Site.Sections }}
            {{ range .Sections.ByWeight }}
                {{ $stype := .Type}}
                {{ if and (ne .File.Dir "home/sprachen/") (ne .File.Dir "home/intro/") }}
                  {{ if (or (and (eq $stype "service") (.Site.Params.showServices))
                            (and (eq $stype "fuerauftraggeber") (.Site.Params.showfuerauftraggeber))
                            (and (eq $stype "download") (.Site.Params.showDownloads))
                            (and (eq $stype "client") (.Site.Params.showClients))
                            (eq $stype "single")) }}

                     <div class="row section featured topspace">
                       <h2 class="section-title">
                         <span>{{.Title}}</span>
                       </h2>
                     {{ if eq $stype "service" }}
                       {{ partial "home/services.html" . }}
      {{ else if eq $stype "fuerauftraggeber" }}
      {{ partial "home/fuerauftraggeber.html" . }}

                     {{ else if eq $stype "download" }}
                       {{ partial "home/download.html" . }}

                     {{ else if eq $stype "client" }}
                       {{ partial "home/clients.html" . }}

                     {{ else if eq $stype "single"  }}
                       {{ partial "home/single.html" . }}

                     {{ end }}
                </div>	<!-- /section -->
                  {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    </div>	<!-- /container -->
  </main>

{{ end }}
