<header id="header">
  {{ $banner := .Site.Params.banner }}
  <div id="head" class="parallax" data-parallax-speed="0.25" style="background-image:url('{{ $banner | absURL }}');">
    <h1 id="logo" class="text-center">
      {{ with .Site.Params.avatar }}
      <img class='img-{{ $.Site.Params.avatarclass | default "circle"}}' src="{{ . | absURL }}" alt="Portrait {{ $.Site.Title }}">
      {{ end }}
      <span class="title"><strong>{{ .Site.Params.name }}</strong></span>
      <span class="tagline">{{ .Site.Params.description }}<br>
        <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
      </span>
   </h1>
</div>

{{ partial "head/menu.html" . }}
</header>
